.container {
    max-width: 800px;
    border: 2px solid black;
    margin: 0 auto;
    height: 80vh;

    /* height: 100vh; */
}


table {
    /* border: 2px solid black; */
    border-collapse: collapse;
    /* border-collapse: separate;
border-spacing: 10px; */
    /* border-spacing: 10px 10px; */
    width: 100%;
}

table tr {
    /* border-collapse: collapse; */
    border-bottom: 2px solid grey;
    /* margin: 50px; */
    padding: 20px;
}
table tr td,
table tr th {
    padding: 10px;
    text-align: left;
    /* align-items: center; */
}

.deletebutton {
    background-color: tomato;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    color: white;
}

.fa-trash-alt {
    color: red;
}

form {
    margin: 0 auto;
    display: none;
    width: 400px;

    /* border: 2px solid black; */
}

/* form input {
width: 100%;
padding: 10px;
margin: 10px 0;
} */

/* form button {
background-color: tomato;
border: none;
padding: 5px;
padding-left: 20px;
padding-right: 20px;
border-radius: 20px;
color: white;
} */

.table-footer {
    padding: 10px;
    display: flex;
}
